{# empty Twig template #}
Gestion Artisan

<form class ="formConnexion" action="{{ path('CreerArtisan') }}" method="post">
    <input  type="submit" value="Créer un artisan" />
</form>
    
<form class ="formConnexion" action="{{ path('AfficherArtisans') }}" method="post">
    <input  type="submit" value="Afficher les artisans" />
</form>
    

