{# empty Twig template #}

<form class ="formConnexion" action="{{ path('CreerMission') }}" method="post">
    <input  type="submit" value="Créer une mission" />
</form>
    
<form class ="formConnexion" action="{{ path('ConsulterMissions') }}" method="post">
    <input  type="submit" value="Consulter les missions" />
</form>
