{# empty Twig template #}

<form class ="formConnexion" action="{{ path('GererArtisans') }}" method="post">
    <input  type="submit" value="Gérer les artisans" />
</form>
    
<form class ="formConnexion" action="{{ path('GererChantiers') }}" method="post">
    <input  type="submit" value="Gérer les chantiers" />
</form>
    
<form class ="formConnexion" action="{{ path('ConsulterAffectations') }}" method="post">
    <input  type="submit" value="Consulter les Affectations" />
</form>
