{# empty Twig template #}

<form class ="formConnexion" action="{{ path('CreerChantier') }}" method="post">
    <input  type="submit" value="Créer un chantier" />
</form>
    
<form class ="formConnexion" action="{{ path('ConsulterChantiers') }}" method="post">
    <input  type="submit" value="Consulter les chantiers" />
</form>